{% extends 'base.html' %}

{% block head %}
{% include 'components/_social.html' %}
{% endblock %}

<!-- Paywall defaults at meterA. Change below if needed  -->
{% block paywall %}meterA{% endblock %}

<!-- Authors for analytics to track -->
{% block author %}Lucio Villa, Emma O'Neill{% endblock %}

{% block content %}

	
	{% set photos = restaurant.wcm_img.split(' ') %}

	<div class="restaurant">
	  
		
		<div class='header'>
			<h1>{{restaurant.Name}}</h1>
		</div>

	  	<div class="image">
	  		<img src="http://ww2.hdnux.com/photos/54/11/64/{{ photos[1] }}/3/1200x0.jpg">
	  	</div>
		
			
		
			 {% for r in article %}
            	<p>{{ r.Text }}</p>
  			{% endfor %}

			
			
	 

	</div>

{% endblock %}

{% block javascript %}
<script>
  $(document).ready(function() {
    App.init();
  });
</script>
{% endblock %}
