/*
Shims for Flexbox - should work on Safari and IE10+
*/
.display-flex {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
@font-face {
  font-family: "AntennaRegular";
  font-style: normal;
  font-weight: normal;
  src: url("https://s3-us-west-1.amazonaws.com/projects.sfchronicle.com/shared/fonts/antenna/regular/antennaregular.eot");
  src: url("https://s3-us-west-1.amazonaws.com/projects.sfchronicle.com/shared/fonts/antenna/regular/antennaregular.eot?") format("embedded-opentype"), url("https://s3-us-west-1.amazonaws.com/projects.sfchronicle.com/shared/fonts/antenna/regular/antennaregular.woff") format("woff"), url("https://s3-us-west-1.amazonaws.com/projects.sfchronicle.com/shared/fonts/antenna/regular/antennaregular.ttf") format("truetype");
}
@font-face {
  font-family: "AntennaComp";
  font-style: normal;
  font-weight: normal;
  src: url("https://s3-us-west-1.amazonaws.com/projects.sfchronicle.com/shared/fonts/antennacomp/AntennaComp-Regular.eot");
  src: url("https://s3-us-west-1.amazonaws.com/projects.sfchronicle.com/shared/fonts/antennacompt/AntennaComp-Regular.eot") format("embedded-opentype"), url("https://s3-us-west-1.amazonaws.com/projects.sfchronicle.com/shared/fonts/antennacomp/AntennaComp-Regular.woff") format("woff"), url("https://s3-us-west-1.amazonaws.com/projects.sfchronicle.com/shared/fonts/antennacomp/AntennaComp-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "AntennaExtraLight";
  font-style: normal;
  font-weight: normal;
  src: url("https://s3-us-west-1.amazonaws.com/projects.sfchronicle.com/shared/fonts/antenna/extralight/antennaextralight.eot");
  src: url("https://s3-us-west-1.amazonaws.com/projects.sfchronicle.com/shared/fonts/antenna/extralight/antennaextralight.eot?") format("embedded-opentype"), url("https://s3-us-west-1.amazonaws.com/projects.sfchronicle.com/shared/fonts/antenna/extralight/antennaextralight.woff") format("woff"), url("https://s3-us-west-1.amazonaws.com/projects.sfchronicle.com/shared/fonts/antenna/extralight/antennaextralight.ttf") format("truetype");
}
@font-face {
  font-family: "AntennaMedium";
  font-style: normal;
  font-weight: normal;
  src: url("https://s3-us-west-1.amazonaws.com/projects.sfchronicle.com/shared/fonts/antenna/2908d944-93cf-4073-8ab6-ff417bc9759a-2.eot");
  src: url("https://s3-us-west-1.amazonaws.com/projects.sfchronicle.com/shared/fonts/antenna/2908d944-93cf-4073-8ab6-ff417bc9759a-2.eot?") format("embedded-opentype"), url("https://s3-us-west-1.amazonaws.com/projects.sfchronicle.com/shared/fonts/antenna/2908d944-93cf-4073-8ab6-ff417bc9759a-3.woff") format("woff"), url("https://s3-us-west-1.amazonaws.com/projects.sfchronicle.com/shared/fonts/antenna/2908d944-93cf-4073-8ab6-ff417bc9759a-1.ttf") format("truetype");
}
@font-face {
  font-family: "AntennaBold";
  font-style: normal;
  font-weight: bold;
  src: url("https://s3-us-west-1.amazonaws.com/projects.sfchronicle.com/shared/fonts/antenna/b9884997-4bb8-4ffa-ac3c-a2d5598fb1b2-2.eot");
  src: url("https://s3-us-west-1.amazonaws.com/projects.sfchronicle.com/shared/fonts/antenna/b9884997-4bb8-4ffa-ac3c-a2d5598fb1b2-2.eot?") format("embedded-opentype"), url("https://s3-us-west-1.amazonaws.com/projects.sfchronicle.com/shared/fonts/antenna/b9884997-4bb8-4ffa-ac3c-a2d5598fb1b2-3.woff") format("woff"), url("https://s3-us-west-1.amazonaws.com/projects.sfchronicle.com/shared/fonts/antenna/b9884997-4bb8-4ffa-ac3c-a2d5598fb1b2-1.ttf") format("truetype");
}
@font-face {
  font-family: "FarnhamText";
  font-style: normal;
  font-weight: normal;
  src: url("https://s3-us-west-1.amazonaws.com/projects.sfchronicle.com/shared/fonts/farnhamtext/ed626233-1ce5-4089-9d5b-9059102dadf9-2.eot");
  src: url("https://s3-us-west-1.amazonaws.com/projects.sfchronicle.com/shared/fonts/farnhamtext/ed626233-1ce5-4089-9d5b-9059102dadf9-2.eot?") format("embedded-opentype"), url("https://s3-us-west-1.amazonaws.com/projects.sfchronicle.com/shared/fonts/farnhamtext/ed626233-1ce5-4089-9d5b-9059102dadf9-3.woff") format("woff"), url("https://s3-us-west-1.amazonaws.com/projects.sfchronicle.com/shared/fonts/farnhamtext/ed626233-1ce5-4089-9d5b-9059102dadf9-1.ttf") format("truetype");
}
@font-face {
  font-family: "AntennaCompLight";
  font-style: normal;
  font-weight: normal;
  src: url("https://s3-us-west-1.amazonaws.com/projects.sfchronicle.com/shared/fonts/antennacomp/AntennaComp-Light.eot");
  src: url("https://s3-us-west-1.amazonaws.com/projects.sfchronicle.com/shared/fonts/antennacompt/AntennaComp-Light.eot") format("embedded-opentype"), url("https://s3-us-west-1.amazonaws.com/projects.sfchronicle.com/shared/fonts/antennacomp/AntennaComp-Light.woff") format("woff"), url("https://s3-us-west-1.amazonaws.com/projects.sfchronicle.com/shared/fonts/antennacomp/AntennaComp-Light.ttf") format("truetype");
}
@font-face {
  font-family: "AntennaCompMedium";
  font-style: normal;
  font-weight: normal;
  src: url("https://s3-us-west-1.amazonaws.com/projects.sfchronicle.com/shared/fonts/antennacomp/AntennaComp-Medium.eot");
  src: url("https://s3-us-west-1.amazonaws.com/projects.sfchronicle.com/shared/fonts/antennacompt/AntennaComp-Medium.eot") format("embedded-opentype"), url("https://s3-us-west-1.amazonaws.com/projects.sfchronicle.com/shared/fonts/antennacomp/AntennaComp-Medium.woff") format("woff"), url("https://s3-us-west-1.amazonaws.com/projects.sfchronicle.com/shared/fonts/antennacomp/AntennaComp-Medium.ttf") format("truetype");
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}
body {
  padding: 0;
  margin: 0;
  touch-action: manipulation;
  background-color: #fff;
  font-size: 21px;
  line-height: 1.58;
  color: #000;
  font-family: Georgia, serif;
}
main {
  display: block;
}
.container {
  margin-top: 37px;
}
a {
  color: #6C85A5;
  text-decoration: none;
  outline: 0 !important;
}
a:hover {
  color: #546c8a;
}
a img {
  border: none;
}
a :hover {
  color: #546c8a;
}
hr {
  margin-top: 2em;
  border-top: 1px solid #B2B2B2;
  border-bottom: none;
  width: 75%;
}
.max {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 12px;
}
.text-hed {
  font-size: 1.2em;
  margin-bottom: 15px;
  margin-top: 35px;
  text-align: center;
  font-weight: bold;
  font-family: Georgia, serif;
}
.text-hed.padded {
  padding-top: 10px;
}
p {
  max-width: 730px;
  margin: auto;
  padding: 0 15px;
  margin-bottom: 1em;
}
p a {
  text-decoration: none;
  color: #6C85A5;
}
@media (max-width: 480px) {
  p {
    font-size: 0.8em;
  }
}
li {
  max-width: 650px;
  margin: 0 auto;
}
@media (max-width: 480px) {
  li {
    margin: 0 5px;
  }
}
.hed {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 5px;
  text-align: center;
  font-family: "AntennaMedium", Helvetica Neue, Helvetica, sans-serif;
  font-weight: bold;
}
@media (max-width: 480px) {
  .hed {
    padding: 0 10px;
  }
}
.chart-hed {
  font-size: 28px;
  text-align: center;
  font-weight: bold;
  padding-bottom: 5px;
}
@media (max-width: 480px) {
  .chart-hed {
    margin: 0 10px;
    font-size: 20px;
  }
}
.chatter {
  font-size: 15px;
  text-align: center;
  padding-bottom: 5px;
  font-family: "AntennaMedium", Helvetica Neue, Helvetica, sans-serif;
  margin: 20px auto;
}
.chatter.lesspadding {
  margin: 10px auto;
}
@media (max-width: 768px) {
  .chatter {
    padding: 10px;
  }
}
@media (max-width: 768px) {
  .chatter {
    padding: 5px;
  }
}
.outer {
  max-width: 900px;
  margin: 30px auto;
}
@media (max-width: 768px) {
  .outer {
    margin: 20px;
  }
}
@media (max-width: 480px) {
  .outer {
    margin: 10px;
  }
}
.source,
.credit {
  clear: left;
  padding-top: 10px;
  font-size: 12px;
  font-style: italic;
  font-family: "AntennaMedium", Helvetica Neue, Helvetica, sans-serif;
}
@media (max-width: 768px) {
  .source,
  .credit {
    padding: 10px 20px;
  }
}
@media (max-width: 480px) {
  .source,
  .credit {
    padding: 10px;
  }
}
.source.padded,
.credit.padded {
  padding-bottom: 40px;
}
svg {
  display: block;
  margin: auto;
}
@media (max-width: 480px) {
  svg {
    margin: 0;
  }
}
text {
  font-size: 14px;
  font-family: "AntennaMedium", Helvetica Neue, Helvetica, sans-serif;
}
@media (max-width: 480px) {
  text {
    font-size: 12px;
  }
}
.axis path,
.axis line {
  fill: none;
  stroke: grey;
  stroke-width: 1;
  shape-rendering: crispEdges;
}
.title-container {
  background-image: url("assets/photos/test-img.jpg");
}
.title-container.top-margin {
  margin-top: 3.5em;
}
.author {
  margin-top: 10px;
  font-size: 15px;
  text-align: center;
  margin-bottom: 0;
}
.date {
  font-size: 15px;
  text-align: center;
  margin-bottom: 40px;
}
.title {
  font-family: "AntennaMedium", Helvetica Neue, Helvetica, sans-serif;
  font-size: 60px;
  padding: 0 10px;
  text-align: center;
  margin: 10px auto 0;
  max-width: 835px;
}
.title.long {
  font-size: 50px;
  line-height: 1.2;
  margin: 20px auto 0;
  margin-top: 10px;
  margin-bottom: 25px;
}
.title.long.text-width {
  max-width: 800px;
}
@media (max-width: 480px) {
  .title.long {
    font-size: 1.8em;
  }
}
.over-img {
  position: absolute;
  bottom: 160px;
  z-index: 2;
  color: white;
  left: 0;
  right: 0;
}
.specialhead-top {
  color: #6C85A5;
  font-family: "DispatchLight", Georgia, serif;
  font-size: 18px;
  text-transform: uppercase;
}
@media (max-width: 480px) {
  .specialhead-top {
    font-size: 13px;
    vertical-align: text-top;
  }
}
.specialhead {
  text-align: center;
  text-transform: uppercase;
  color: #9bb5d8;
  font-family: "DispatchLight", Georgia, serif;
  font-size: 15px;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.61);
  max-width: 320px;
  padding: 2px 0px;
}
.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
  left: 0;
  height: 37px;
}
.link {
  padding: 5px 10px 0 7px;
  vertical-align: 3px;
  font-size: 18px;
  font-family: Georgia, serif;
  cursor: pointer;
}
.link.active {
  background: #a2a2a2;
  color: #696969;
}
.link.special a {
  color: #6C85A5;
}
.link.social {
  float: right;
  margin: 0 6px;
  padding: 3px 2px;
}
.link.social a {
  color: #6C85A5;
}
.link.email {
  margin-right: 10px;
}
.logo-link {
  cursor: pointer;
  margin: 0 0 0 10px;
  vertical-align: 0;
  padding: 8px 0 0;
  line-height: 44px;
}
.logo-link img {
  opacity: 1;
  height: 20px;
}
.link,
.logo-link {
  display: inline-block;
}
@media (max-width: 490px) {
  .desk-logo {
    display: none;
  }
}
header {
  background: #fff;
  overflow: visible;
  opacity: 0.9;
  -webkit-box-shadow: 0 0 6px 0 #696969;
  -moz-box-shadow: 0 0 6px 0 #696969;
  box-shadow: 0 0 6px 0 #696969;
}
header a {
  text-decoration: none;
}
header .logo {
  float: left;
  padding: 6px 0 0 8px;
  margin: 0;
}
header .logo img {
  vertical-align: text-bottom;
  width: 180px;
}
@media (max-width: 490px) {
  header .logo {
    display: none;
  }
}
header .mobile-logo {
  display: none;
}
@media (max-width: 490px) {
  header .mobile-logo {
    display: inline;
  }
}
header .mobile-logo img {
  height: 16px;
  vertical-align: baseline;
}
header::after {
  clear: both;
  content: " ";
  display: block;
}
.caption {
  text-align: left;
  font-family: Georgia, serif;
  font-size: 12px;
  margin-top: 5px;
  padding: 0 10px;
  max-width: 100%;
}
.caption.landing {
  margin-bottom: 2.5em;
}
.byline {
  color: #6D6D6D;
  font-style: italic;
}
.background-img {
  height: 800px;
  background-size: cover;
  background-position: center center;
  position: relative;
  display: block;
  z-index: 1;
}
@media (max-width: 480px) {
  .background-img {
    height: 640px;
  }
}
.full-width-img {
  margin: 2em auto;
  width: 100%;
}
.full-width-img img {
  width: 100%;
}
.inline-img {
  max-width: 730px;
  margin: 2em auto;
}
.inline-img .caption {
  padding: 0;
}
@media (max-width: 730px) {
  .inline-img .caption {
    padding: 0 10px;
  }
}
.inline-graphic {
  max-width: 640px;
  margin: 2em auto;
  padding: 0 10px;
}
.too-big {
  text-align: center;
}
.too-big img {
  max-width: 80%;
  margin: 0px auto;
}
@media (max-width: 480px) {
  .too-big img {
    max-width: 100%;
  }
}
.float-img-container {
  max-width: 735px;
  width: 100%;
  margin: 0 auto;
}
.float-img {
  max-width: 420px;
}
.float-img.vertical {
  max-width: 300px;
}
@media (max-width: 861px) {
  .float-img {
    float: none;
    margin: 2em auto;
  }
}
.float-img .caption {
  padding: 0;
}
@media (max-width: 730px) {
  .float-img {
    padding: 0 10px;
  }
}
.float-img.left {
  float: left;
  margin: 1em 1.5em 0.5em -7.5em;
}
@media (max-width: 1072px) {
  .float-img.left {
    float: none;
    margin: 2em auto;
  }
}
.float-img.right {
  float: right;
  margin: 1em -7.5em 0.5em 1.5em;
}
@media (max-width: 1072px) {
  .float-img.right {
    float: none;
    margin: 2em auto;
  }
}
.float-img.center {
  margin: 0 auto;
  max-width: 600px;
}
footer {
  background: #222222;
  opacity: 0.95;
  padding: 0 10px;
  position: relative;
  z-index: 99;
  margin-top: 10px;
  clear: both;
}
footer .logo {
  float: left;
  margin-right: 10px;
}
footer .logo img {
  padding: 10px 0;
  width: 180px;
  vertical-align: bottom;
}
footer::after {
  clear: both;
  content: " ";
  display: block;
}
.credits {
  max-width: 900px;
  margin: 30px auto;
  padding: 10px;
  text-align: center;
  font-size: 15px;
  font-family: Georgia, serif;
  width: 80%;
}
@media (max-width: 480px) {
  .credits {
    width: 100%;
  }
}
.credits .entry {
  padding-bottom: 10px;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
h1 {
  color: blue;
  font-size: 2em;
}
#container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 650px) {
  #container {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
#left-nav {
  -webkit-flex: 0 0 350px;
  -ms-flex: 0 0 350px;
  flex: 0 0 350px;
}
.sf-logo {
  max-width: 180px;
  margin: 1em auto 0;
  line-height: 0;
}
@media (max-width: 480px) {
  .sf-logo {
    max-width: 150px;
  }
}
#header {
  -webkit-box-shadow: 0 0 10px 2px #696969;
  -moz-box-shadow: 0 0 10px 2px #696969;
  box-shadow: 0 0 10px 2px #696969;
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  width: 350px;
  overflow: scroll;
  background: #e5e6ea;
}
@media (max-width: 650px) {
  #header {
    position: static;
    padding-bottom: 2em;
    width: 100%;
  }
}
#header img {
  width: 100%;
}
#header .cover {
  background-image: url(assets/logos/top.jpg);
  height: 150px;
  background-position: 50% 79%;
  background-size: cover;
  text-align: center;
  margin: 0 auto;
}
@media (max-width: 480px) {
  #header .cover {
    height: 80px;
  }
}
#header .top100-logo {
  padding: 0 10px;
}
#header .top100-logo h1 {
  text-align: center;
  margin: 0;
  line-height: 1.2;
}
.top100,
.year {
  font-family: antennacompmedium;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #7a709a;
  font-size: 49px;
}
.top100.bottom,
.year.bottom {
  font-size: 19px;
}
.top100.top,
.year.top {
  font-size: 29px;
}
@media (max-width: 480px) {
  .top100.top,
  .year.top {
    font-size: 19px;
  }
}
@media (max-width: 480px) {
  .top100,
  .year {
    font-size: 1.5em;
  }
}
.rest {
  font-family: antennacomplight;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 1px;
  font-size: 49px;
}
.rest.bottom {
  font-size: 19px;
}
.rest.top {
  font-size: 29px;
}
@media (max-width: 480px) {
  .rest.top {
    font-size: 19px;
  }
}
@media (max-width: 480px) {
  .rest {
    font-size: 1.5em;
  }
}
.home-link {
  display: inline-block;
  width: 100%;
  height: 100%;
}
.home-link .rest.top {
  color: black !important;
}
.home-link .rest.top:hover {
  color: #696969 !important;
}
#nouser {
  text-align: center;
  color: red;
  padding-top: 30px;
  font-size: 30px;
}
#nouser.hidden {
  display: none;
}
#restaurants {
  background: #e5e6ea;
  padding: 0 1em 2em;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial;
}
#restaurants img {
  width: 100%;
}
@media (max-width: 480px) {
  #restaurants {
    padding: 0 0 4em;
  }
}
#restaurants .restaurant {
  -webkit-flex: 1 0 20%;
  -ms-flex: 1 0 20%;
  flex: 1 0 20%;
  max-width: 251px;
  background: white;
  margin: 10px;
  display: none;
  padding: 10px;
}
@media (max-width: 1200px) {
  #restaurants .restaurant {
    -webkit-flex: 1 0 30%;
    -ms-flex: 1 0 30%;
    flex: 1 0 30%;
  }
}
@media (max-width: 768px) {
  #restaurants .restaurant {
    -webkit-flex: 1 0 100%;
    -ms-flex: 1 0 100%;
    flex: 1 0 100%;
    max-width: none;
    margin: 1em 0;
  }
}
@media (max-width: 650px) {
  #restaurants .restaurant {
    -webkit-flex: 1 0 46%;
    -ms-flex: 1 0 46%;
    flex: 1 0 46%;
    margin: 1em 10px;
  }
}
#restaurants .restaurant.active {
  display: block;
}
.name {
  font-size: 1em;
  font-family: "AntennaRegular", Helvetica Neue, Helvetica, sans-serif;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
}
.info {
  font-size: 0.85em;
}
.save-restaurant {
  padding-left: 15px;
  cursor: pointer;
}
.search-container {
  max-width: 900px;
  margin: auto;
  margin-top: 30px;
  padding: 0 10px;
  text-align: center;
}
.search-container input {
  width: 90%;
  font-family: "AntennaExtraLight", Helvetica Neue, Helvetica, sans-serif;
  font-size: 16px;
  padding: 2px 5px;
  border-radius: 5px;
  border: 1px solid #696969;
}
.search-container .fa {
  font-size: 20px;
  margin-right: 5px;
}
.filters-container {
  max-width: 900px;
  margin: auto;
  padding: 15px 10px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.filters-container .dropdown-container,
.filters-container .button {
  -webkit-flex: 1 1 47%;
  -ms-flex: 1 1 47%;
  flex: 1 1 47%;
  margin: 3px;
  font-size: 16px;
  text-align: center;
  display: inline-block;
}
@media (max-width: 480px) {
  .filters-container .dropdown-container,
  .filters-container .button {
    -webkit-flex: 0 1 47%;
    -ms-flex: 0 1 47%;
    flex: 0 1 47%;
  }
}
.filters-container .dropdown-container select,
.filters-container .button select {
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-family: "FontAwesome", "AntennaExtraLight", Helvetica Neue, Helvetica, sans-serif;
  background: #F2F2F2;
  border: 1px solid #A5A5A5;
  border-radius: 3px;
}
.filters-container .button {
  background: #F2F2F2;
  border: 1px solid #A5A5A5;
  border-radius: 3px;
  cursor: pointer;
}
.filters-container .button.selected {
  background: #696969;
  color: white;
}
.filters-container .button .fa {
  padding-right: 5px;
}
.filters-container .button .fa-glass {
  font-size: 14px;
}
@media (max-width: 480px) {
  .filters-container .button {
    text-align: left;
    padding-left: 5px;
  }
}
#search-noresults {
  padding-top: 50px;
  text-align: center;
  font-style: italic;
}
#search-noresults.hide {
  display: none;
}
.link-button {
  display: inline-block;
  width: 100%;
  height: 100%;
  color: #000 !important;
  cursor: pointer !important;
}
.link-button:hover {
  color: white !important;
}
.link-button i:hover {
  color: white !important;
}
#social {
  text-align: center;
  line-height: 1;
}
#social .link {
  padding: 10px;
  font-size: 22px;
}
#bottom-nav {
  position: fixed;
  width: 100%;
  display: none;
  background: white;
  bottom: 0;
  -webkit-box-shadow: 0 0 6px 0 #696969;
  -moz-box-shadow: 0 0 6px 0 #696969;
  box-shadow: 0 0 6px 0 #696969;
}
#bottom-nav .link {
  vertical-align: 1px;
  padding: 5px 10px 0 0;
  margin-left: 6px;
}
#bottom-nav .logo-link {
  margin-left: 10px;
  line-height: 0;
}
#bottom-nav .logo-link img {
  height: 15px;
}
.login {
  text-align: center;
}
.login-btn {
  font-size: 11px;
  font-style: normal;
  font-family: "AntennaMedium", Helvetica Neue, Helvetica, sans-serif;
  border-radius: 3px;
  padding: 7px 9px;
  border: 1px solid #e2e2e2;
  cursor: pointer;
  text-transform: uppercase;
  background-color: #9189ab;
  border-color: #7a709a;
  color: #fff;
  height: 30px;
}
.btn-link {
  background-color: #7a709a;
  margin: 0;
  padding: 12px 9px;
  border: 1px solid #a09ab6;
  cursor: pointer;
  text-transform: uppercase;
  color: white;
  font-family: antennaregular;
  float: right;
  font-size: 10px;
}
#top-nav {
  box-shadow: 0 1px 5px 1px #ccc;
  position: relative;
}
#top-nav .logo-link {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 1.8;
}
#top-nav .logo-link img {
  width: 180px;
  height: auto;
}
#top-nav .logo-link.mobile {
  display: none;
}
#top-nav .logo-link.mobile img {
  width: 19px;
}
@media (max-width: 480px) {
  #top-nav .logo-link.mobile img {
    width: 15px;
  }
}
@media (max-width: 650px) {
  #top-nav .logo-link.mobile {
    display: block;
  }
}
@media (max-width: 480px) {
  #top-nav .logo-link.mobile {
    padding-top: 6px;
  }
}
@media (max-width: 650px) {
  #top-nav .logo-link.desktop {
    display: none;
  }
}
#top-nav .link {
  text-align: center;
  max-width: 300px;
  margin: 0 auto;
  display: block;
  padding: 0;
}
@media (max-width: 650px) {
  #top-nav .link {
    margin: 0 0 0 40px;
    display: inline-block;
  }
}
@media (max-width: 480px) {
  #top-nav .link {
    padding: 8px 0 2px;
    margin: 0 0 0 35px;
  }
}
#top-nav .search {
  position: absolute;
  right: 65px;
  top: 0;
  height: 100%;
}
.photo-byline {
  margin-top: 10px;
  font-size: 12px;
  font-family: "AntennaRegular", Helvetica Neue, Helvetica, sans-serif;
  font-weight: 100;
}
@media (max-width: 900px) {
  .photo-byline {
    padding-left: 10px;
  }
}
.phone-link .fa-phone {
  padding-right: 5px;
}
.google-link .fa-map-marker {
  padding-right: 5px;
}
.restaurant-link .fa-external-link {
  padding-right: 5px;
}
.swiper-pagination-bullet {
  height: 12px !important;
  width: 12px !important;
}
footer {
  background: #EEE;
  opacity: 1;
  font-family: "AntennaRegular", Helvetica Neue, Helvetica, sans-serif;
  border-top: 1px solid #CCC;
  color: #666;
  margin-top: 30px;
  padding: 10px 0;
}
footer .footer-content {
  padding: 37px 20px 52px;
  max-width: 1200px;
  margin: auto;
}
@media (max-width: 480px) {
  footer .footer-content {
    padding-bottom: 0;
  }
}
footer .logo {
  width: 100%;
  padding: 0;
  margin: 0 ;
  border-bottom: 1px solid #ccc;
}
footer a {
  color: #666;
}
footer a:hover {
  color: #666;
}
footer .fa {
  font-size: 20px;
  color: #666;
}
footer .fa:hover {
  color: #666;
}
footer h3 {
  color: #666;
}
footer ul {
  padding: 0;
}
footer .top-list {
  width: 100%;
}
footer .hcsf_links {
  width: 100%;
  color: white;
  font-size: 10px;
}
footer .hcsf_links li {
  max-width: none;
  list-style-type: none;
  float: left;
  padding: 0 20px;
}
footer .hcsf_links li.top-list {
  padding: 0;
}
@media (max-width: 480px) {
  footer .hcsf_links li {
    padding: 0 15px;
  }
}
.copyright-wrap {
  border-top: 1px solid #CCC;
  margin: 1.4em 0;
}
.copyright-wrap .hearst-logo {
  float: left;
  width: 90px;
}
.copyright-wrap .copyright {
  float: right;
  font-size: 10px;
  font-family: "AntennaRegular", Helvetica Neue, Helvetica, sans-serif;
  line-height: 1em;
  margin: 13px 0 0;
  padding: 0;
}
#top-nav {
  position: fixed;
  width: 100%;
  background: #fff;
  z-index: 2017;
  top: 0;
}
.restaurant {
  margin-top: 45px;
}
.restaurant p {
  font-family: Georgia, serif;
}
.restaurant img {
  width: 100%;
}
@media (max-width: 480px) {
  .restaurant {
    margin-top: 41px;
  }
}
.header {
  text-align: left;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
.header .wrap {
  padding: 15px 15px 0;
  background: whitesmoke;
  -webkit-flex: 0 0 50%;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
}
@media (max-width: 850px) {
  .header .wrap {
    text-align: center;
  }
}
@media (max-width: 850px) {
  .header {
    display: block;
  }
}
.header h1 {
  font-family: AntennaComp;
  font-weight: 100;
  font-size: 3.5em;
  line-height: 1;
  margin: 10px 0;
  letter-spacing: 1px;
  color: black;
}
@media (max-width: 850px) {
  .header h1 {
    text-align: center;
  }
}
@media (max-width: 650px) {
  .header h1 {
    font-size: 3em;
    margin: 20px 0;
  }
}
@media (max-width: 480px) {
  .header h1 {
    font-size: 2em;
    margin: 10px 0 0;
  }
}
.header .image {
  line-height: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-flex: 0 0 50%;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
}
.header .img-tablet {
  display: none;
}
@media (max-width: 850px) {
  .header .img-tablet {
    display: block;
  }
}
.fave {
  font-family: "AntennaRegular", Helvetica Neue, Helvetica, sans-serif;
  font-weight: 100;
  font-size: 11px;
  background: #7a709a;
  display: inline-block;
  cursor: pointer;
  color: white;
  margin-bottom: 10px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  text-transform: uppercase;
}
.infobox {
  text-align: left;
  max-width: 820px;
  margin: 0 auto 1em;
  padding: 10px 0;
  font-size: 15px;
  font-family: "AntennaRegular", Helvetica Neue, Helvetica, sans-serif;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
  border-top: 1px solid #ccc;
}
@media (max-width: 1100px) {
  .infobox {
    padding: 20px 0;
  }
}
@media (max-width: 480px) {
  .infobox {
    padding: 5px 0;
  }
}
.infobox div {
  -webkit-flex: 0 0 44%;
  -ms-flex: 0 0 44%;
  flex: 0 0 44%;
  font-family: "AntennaRegular", Helvetica Neue, Helvetica, sans-serif;
  font-size: 16px;
  margin: 10px;
}
@media (max-width: 1100px) {
  .infobox div {
    margin: 10px 5px;
  }
}
@media (max-width: 480px) {
  .infobox div {
    -webkit-flex: 0 0 40%;
    -ms-flex: 0 0 40%;
    flex: 0 0 40%;
    font-size: 13px;
    margin: 3px 0;
  }
}
.infobox span {
  font-family: "AntennaRegular", Helvetica Neue, Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 1px;
}
@media (max-width: 650px) {
  .infobox span {
    font-size: 10px;
  }
}
@media (max-width: 480px) {
  .infobox span {
    font-size: 9px;
  }
}
.article {
  margin: 2em 0 0;
}
@media (max-width: 480px) {
  .article {
    margin-top: 10px;
  }
}
.photos {
  max-width: 900px;
  margin: 1em auto 4em;
}
.article-img {
  padding: 10px;
}
.swiper-pagination-bullet-active {
  background: #7a709a;
}
#related-rest {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: 0 auto;
}
#related-rest .wrap {
  -webkit-flex: 0 0 30%;
  -ms-flex: 0 0 30%;
  flex: 0 0 30%;
  padding: 10px;
}
@media (max-width: 650px) {
  #related-rest .wrap {
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
  }
}
#related-rest .wrap .name {
  color: #000;
  font-size: 16px;
}
#related-rest .rtitle {
  -webkit-flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  font-family: "AntennaRegular", Helvetica Neue, Helvetica, sans-serif;
  text-align: center;
}
@media (max-width: 480px) {
  #related-rest .rtitle {
    font-size: 15px;
  }
}
.hidden {
  display: none;
}
.gigya_menu .gya-title.treg-logged-in span {
  background: url(http://treg.hearstnp.com/assets/gya_sites/sfchronicle_com/images/user.svg) 0 0 no-repeat;
}
.gigya_menu .gya-title {
  line-height: 30px;
}
.login-gya-btn {
  background-color: #7a709a;
  border-radius: 3px;
  margin: 0;
  padding: 7px 9px;
  border: 1px solid #a09ab6;
  cursor: pointer;
  text-transform: uppercase;
  color: white;
  font-family: antennaregular;
  font-size: 11px;
}
@media (max-width: 480px) {
  .login-gya-btn {
    font-size: 9px;
  }
}
@media (min-width: 1280px) {
  .gigya_menu .gya-content {
    bottom: 0;
    left: 0;
    position: fixed;
    top: inherit;
  }
}
