{% set next_photo = next_article[0].wcm_img.split(' ') %}
{% set prev_photo = prev_article[0].wcm_img.split(' ') %}


      <hr>

      <div id="related-rest">
        <div class="rtitle">Related restaurants</div>
        <div class="wrap">
          <a href="{{ url_for('index') }}{{prev_article[0]['slug']}}">
            <img src="http://ww2.hdnux.com/photos/54/11/64/{{ next_photo[0] }}/3/premium_landscape.jpg">
            <div class="name">
              <div>{{prev_article[0]['Name']}}</div>
            </div>
            <div class="info"></div>
          </a>
        </div>

        <div class="wrap">
          <a href="{{ url_for('index') }}{{next_article[0]['slug']}}">
            <img src="http://ww2.hdnux.com/photos/54/11/64/{{ prev_photo[0] }}/3/premium_landscape.jpg">
            <div class="name">
              <div>{{next_article[0]['Name']}}</div>
            </div>
            <div class="info"></div>
          </a>
        </div>
      </div>