<div id="top-nav">

  <a href="http://www.sfchronicle.com" target="_blank">
    <div class="logo-link desktop">
    	<img src="http://projects.sfchronicle.com/shared/logos/sfc_logo_black.png"></img>
    </div>
    <div class="logo-link mobile">
    	<img src="http://projects.sfchronicle.com/shared/logos/sfletter_c_black.png"></img>
    </div>
  </a>

  <div class="link">
   <span class="top100 top">Top 100 </span><span class="rest top">RESTAURANTS </span><span class="year top">2017</span>
  </div>
  
	<button id="filter-btn" class="btn-link search"><i class="fa fa-search" aria-hidden="true"></i> Search</button>

  <button id="filter-btn" class="btn-link search" style="
    right: 0;
"><i class="fa fa-twitter" aria-hidden="true" style="
    font-size: 18px;
"></i></button>
<button id="filter-btn" class="btn-link search" style="
    right: 36px;
    font-size: 17px;
"><i class="fa fa-facebook" aria-hidden="true"></i></button>


</div>
